/*Estilos Generales*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  width: 100%;
  background-color: #222222;
  color: white;
  display: flex;
  justify-content: space-between;
}

nav ul a {
  padding: 13px;
  font-size: 16px;
  color: white;
  text-decoration: none;
  font-size: larger;
}
h1 {
  margin-left: 10px;
}
main {
  display: flex;
  margin-top: 35px;
  margin-left: 19px;
  flex-wrap: wrap;
}

/*Estilos Especificos*/

.titulo {
  display: flex;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
  width: 92px;
  height: 80px;
  margin-left: 20px;
}
.container {
  align-items: flex-end;
  display: flex;
  align-items: center;
  height: 100px;
}
.nav {
  display: flex;
  align-items: flex-end;
  list-style: none;
}
.verde {
  color: green;
}
.rojo {
  color: red;
}

.boxDelivery {
  background: url("/FrontEnd/Pizza/img/delivery.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  height: 600px;
  border-radius: 10px;
}
.boxDelivery h2 {
  font-size: 50px;
  color: white;
  margin-left: 20px;
  margin-top: 20px;
}

.boxPodio {
  background: whitesmoke;
  border-radius: 10px;
  width: 50%;
  align-items: center;
  justify-content: center;
  height: 600px;
}
.boxPodio h2 {
  color: red;
  font-size: 50px;
  text-align: center;
}
.boxPodio p {
  color: black;
  font-size: xx-large;
  font-weight: bold;
  padding: 30px;
}
.podioImg {
  display: flex;
  width: 100%;
  align-items: center;
}
.podioImg > img {
  margin-right: 40px;
  width: 280px;
  height: 300px;
}
.listaPodio {
  height: 600px;
  font-size: xx-large;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 90px;
  width: 100%;
}

/*Footer*/

footer {
  margin-top: 100px;
  background-color: #222222;
  display: flex;
  justify-content: space-between;
}
.footerUl {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footerUl a {
  color: white;
  text-decoration: none;
  font-size: x-large;
  padding: 10px;
}

footer .titulo {
  color: white;
  margin-right: 100px;
}
